# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo

# virtual env
venv/
.venv/
env/

# build
build/
dist/
*.egg-info/

# secrets
.env
.pypirc

# IDE
.vscode/

# system
.DS_Store


# logs
*.log

# binary files
.o

.venv/
venv/
path/to/venv/
tenrek/path/
__pycache__/
*.pyc
dist/
build/
*.egg-info/
